<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6 footer-info">
                    <h3>C.atWork</h3>
                    <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita
                        valies darta donna mare fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet
                        proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Link rapidi</h4>
                    <ul>
                        <li><i class="ion-ios-arrow-right"></i> <a hostclick [attr.href]="'#intro'">Home</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a hostclick [attr.href]="'#intro'">About us</a></li>
                        <li><i class="ion-ios-arrow-right"></i> <a hostclick [attr.href]="'#intro'">Lavoro</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-contact">
                    <h4>Contattaci</h4>
                    <p>
                        <!-- Via Giuseppe Garibaldi 10 <br>
                        Monte Porzio Catone, 00078<br>
                        Italia <br> -->
                        <!-- <strong>Phone:</strong> +39 0694 49448<br> -->
                        <strong>Email: </strong><a href="mailto:catworkcreative@gmail.com">catworkcreative@gmail.com</a>
                    </p>

                    <div class="social-links">
                        <a href="https://www.facebook.com/catworkcreative" rel="noopener" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="https://www.instagram.com/c.atworkstudio" rel="noopener" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>C.atWork</strong>. All Rights Reserved
        </div>
    </div>
</footer>