<div class="container">

    <div class="section-header">
      <h3>Contattaci</h3>
      <!-- <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p> -->
    </div>

    <div class="row contact-info">

      <!-- <div class="col-md-4">
        <div class="contact-address">
          <i class="ion-ios-location-outline"></i>
          <h3>Dove siamo</h3>
          <address>Via Giuseppe Garibaldi 10, Monte Porzio Catone 00078, ITALIA</address>
        </div>
      </div> -->

      <!-- <div class="col-md-4">
        <div class="contact-phone">
          <i class="ion-ios-telephone-outline"></i>
          <h3>Numero di Telefono</h3>
          <p><a href="tel:+39069449448">+39 0694 49448</a></p>
        </div>
      </div> -->

      <div class="col-md-4 offset-md-4">
        <div class="contact-email">
          <i class="ion-ios-email-outline"></i>
          <h3>Email</h3>
          <p><a href="mailto:catworkcreative@gmail.com">catworkcreative@gmail.com</a></p>
        </div>
      </div>

    </div>

    <div class="form">
      <form [formGroup]="infoForm" (ngSubmit)="sendMail()" class="contactForm">
        <div class="form-row">
          <div class="form-group col-md-6">
            <input type="text" name="name" class="form-control" id="name" placeholder="Il tuo nome" formControlName="name">
            <div class="validation"></div>
          </div>
          <div class="form-group col-md-6">
            <input type="email" class="form-control" name="email" id="email" placeholder="La tua Email" formControlName="email">
            <div class="validation"></div>
          </div>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="subject" id="subject" placeholder="Oggetto" formControlName="oggetto" />
          <div class="validation"></div>
        </div>
        <div class="form-group">
          <textarea class="form-control" name="message" rows="5" formControlName="messaggio" placeholder="Messagio"></textarea>
          <div class="validation"></div>
        </div>
        <div class="text-center">
            <button type="submit" [disabled]="infoForm.invalid">Invia il Messaggio</button>
        </div>
      </form>
    </div>

</div>